# Dedicated Pre-CU runtime settings.

[ClientAudio]
	enabled=true
	disableMiles=false

[ClientDirectInput]
	useKeyboard=true
	useMouse=true
	useJoysticks=false
	enableForceFeedback=false

[ClientGame]
	skipIntro=true
	disableCutScenes=true
	skipSplash=true
	runWithoutFocus=true

[ClientGraphics]
	doNotActivateWindow=true
	useHardwareMouseCursor=1
	screenWidth=1024
	screenHeight=768
	windowed=1
	borderlessWindow=0
	useSafeRenderer=0
	rasterMajor=11

[Direct3d11]
	fullscreenRefreshRate=60
	allowTearing=false
	swapChainBufferCount=3
	antiAlias=false
	antiAliasSampleCount=1

[SharedUtility]
	cache=misc/cache_large.iff
