# Dedicated Pre-CU runtime settings.

[ClientAudio]
	disableMiles=true

[ClientGraphics]
	useHardwareMouseCursor=1
	screenWidth=1024
	screenHeight=768
	windowed=1
	borderlessWindow=0
	useSafeRenderer=0
	rasterMajor=7

[Direct3d9]
	fullscreenRefreshRate=60
	doNotActivateWindow=true

[SharedUtility]
	cache=misc/cache_large.iff
