[Station]
	subscriptionFeatures=1
	gameFeatures=65535

[ClientGame]
	loginServerAddress0=127.0.0.1
	loginServerPort0=45450
	# Dedicated local swg-precu acceptance account.
	loginClientID=1001
	loginClientPassword=local
