# Steam Deck Release defaults. Safe to edit after staging.

[ClientAudio]
	disableMiles=0
	soundProvider="2 Speakers"

[ClientDirectInput]
	useJoystick=0
	useJoysticks=true
	useSdlInput=true

[ClientGame]
	skipIntro=1

[ClientGraphics]
	borderlessWindow=1
	rasterMajor=11
	screenHeight=800
	screenWidth=1280
	useHardwareMouseCursor=0
	useSafeRenderer=0
	windowed=1

[Direct3d11]
	adapter=-1
	allowTearing=false
	antiAlias=false
	antiAliasSampleCount=1
	debugLayer=false
	driverType=0
	fullscreenRefreshRate=0
	swapChainBufferCount=3
	useCompiledShaders=true
