# Steam Deck user overrides.
# This file intentionally contains no account, password, avatar, or autologin data.

[SwgClient]
	allowMultipleInstances=false

[ClientGame]
	disableCutScenes=1
	freeChaseCameraMaximumZoom=9
	skipIntro=1
	skipSplash=1

[ClientSkeletalAnimation]
	lodManagerEnable=1

[SharedFoundation]
	frameRateLimit=60.0
	minFrameRate=1.0
