
.include "client.cfg"

#--------------------------------------------------------------------

[GodClient]
   

frameRateLimit=60
loadServerObjects=true
connectToPerforce=false
	
scriptClassPath, "c:/swg/data/sku.0/sys.server/compiled/game/script");
scriptSourcePath, "c:/swg/dsrc/sku.0/sys.server/compiled/game/script");
scriptEditor, "Textpad.exe");

templateClientIffPath, "c:/swg/data/sku.0/sys.shared/compiled/game/object");
templateClientSourcePath, "c:/swg/dsrc/sku.0/sys.shared/compiled/game/object");
templateServerIffPath, "c:/swg/data/sku.0/sys.server/compiled/game/object");
templateServerSourcePath, "c:/swg/dsrc/sku.0/sys.server/compiled/game/object");
templateEditor, "Textpad.exe");

localClientSrcPath, "c:/swg/dsrc/sku.0/sys.shared/compiled/game");
localClientDataPath, "c:/swg/data/sku.0/sys.shared/compiled/game");
localServerSrcPath, "c:/swg/dsrc/sku.0/sys.server/compiled/game");
localServerDataPath, "c:/swg/data/sku.0/sys.server/compiled/game");
localServerCrcStringTable, "c:/swg/data/sku.0/sys.server/built/game/misc/object_template_crc_string_table.iff");



serverObjectTemplateTheaterDirectory, "../../dsrc/sku.0/sys.server/compiled/game");
serverDataTableTheaterDirectory, "../../dsrc/sku.0/sys.server/compiled/game");
sharedObjectTemplateTheaterDirectory, "../../dsrc/sku.0/sys.shared/compiled/game");
clientDataFileTheaterDirectory, "../../dsrc/sku.0/sys.client/compiled/game");
serverObjectTemplateTheaterPath, "object/building/poi");
serverDataTableTheaterPath, "datatables/poi");
sharedObjectTemplateTheaterPath, "object/building/poi");
clientDataFileTheaterPath, "clientdata/poi");
sharedTerrainDirectory, "../../data/sku.0/sys.shared/built/game/terrain");
	